* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f9ff;
}

.calculator-grid {
    width: 500px;
    height: 90vh;
    display: grid;
    place-items: center;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #3a4452;
}

input {
    width: 450px;
    height: 60px;
    margin: 2px 2px;
    border: 0;
    padding-left: 10px;
    font-size: 50px;
    border: none;
    text-align: right;
    padding-right: 50px;
    font-weight: 500;
    outline: none;
    background: transparent;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 20px;
}

button {
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    background: transparent;
}